/* 컨테이너 */
.container-sm,
header.container,
article.container  {max-width:720px;}

.container-lg {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-xl {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

/* 공통 엘레먼트 */
h1, h2, h3, h4, b {font-weight: 900;}

h1, h2, h3 {margin: 40px 0 24px 0;}

p, h5 {font-size: 20px; line-height: 34px;}

hr {margin: 80px 0;}

img, .btn {margin: 24px 0;}

img + .caption {margin: -8px 0 40px 0;}

img {border-radius: 4px;}

pre {
  font-family: "Source Code Pro", Monaco, monospace, sans-serif;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 24px;
  background-color: #ECEFF1;
  color: #455A64;
  border-radius: 4px;
}

code {background-color: #ECEFF1; color: #455A64;}

code b {color: black;}

blockquote {
  margin: 24px 0;
  padding: 8px 16px;
  border-left: 4px solid #ECEFF1;
  font-size: 24px;
  line-height: 36px;
  font-style: italic;
}

ul, ol {margin: 16px 0; padding-left: 24px;}

ol li {  padding-left: 4px;  }

li {
  margin: 0 0 8px 0;
  font-size: 20px;
  line-height: 34px;
}

.embed-responsive {border: 8px solid #263238}

.cp_embed_wrapper {margin: 16px 0;}

.code {
  margin: 24px 0;
  font-family: "Source Code Pro", Monaco, monospace, sans-serif;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 24px;
  color: #455A64;
  background-color: #ECEFF1;
  border-radius: 4px;
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.code h1, .code h2, .code h3,
.code h4, .code h5, .code h6,
.code p {margin: 0;}

/* 글로벌 네비게이션 버튼 */
a[href="index.html"] img {
  margin: 15px 0;
}

/* 사용된 요소들 */
.summary h5 {
  margin: 0;
  color: #263238;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.summary p {
  margin: 0 0 8px 0;
  font-size: 16px;
  line-height: 24px;
}

.summary ul {
  margin: 8px 0 0 0;
  padding-left: 0;
  list-style: none;
}

.summary li {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #78909C;
  margin-bottom: 4px;
}

.badge-summary {
  border-radius: 2px;
  font-style: normal;
  color: #263238;
  font-weight: 900;
  /*background-color: #CFD8DC;*/
}

.badge-summary::after {
  content: "─";
  margin: 0 8px;
}


/* 튜토리얼 타입의 리스트 */
.list-tutorials {
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .list-tutorials  {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.list-tutorials > li,
.list-tutorials .cp_embed_wrapper {margin: 0;}

.list-tutorials > li {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

/*
.list-tutorials > li .guide {padding-top: 24px;}

 .list-tutorials > li .guide::before {
  position: absolute;
  top: 0;
  left: 16px;
  content: "1";
  color: transparent;
  font-size: 1px;
  width: 100%;
  height: 2px;
  background-color: #ECEFF1;
} */

@media (min-width: 1800px) {
  .list-tutorials > li .guide {
    max-width: 24%;
    -moz-flex: 0 0 24%;
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }

  .list-tutorials > li .code-editor {
    max-width: 76%;
    -moz-flex: 0 0 76%;
    -ms-flex: 0 0 76%;
    flex: 0 0 76%;
  }
}

.list-tutorials > li .guide > ol,
.list-tutorials > li .guide > ul {
  padding: 12px 12px 12px 30px;
  border-radius: 3px;
  background-color: #ECEFF1;
  margin: 24px 0;
}

.list-tutorials > li .guide > ol > li,
.list-tutorials > li .guide > ul > li {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}

.list-tutorials > li .guide > ol > li code,
.list-tutorials > li .guide > ul > li code {
  color: #263238;
  background-color: #CFD8DC;
}

.list-tutorials > li img {
  margin: 0;
}

.list-tutorials .cp_embed_wrapper,
.list-tutorials .cp_embed_iframe {
  padding: 0;
  min-height: 100%;
}

.caption {
  margin: 16px 0 24px 0;
  text-align: center;
  font-size: 14px;
  color: #90A4AE;
}

.btn-progress-group {
  /* 이전/다음 버튼을 감싸고 있는 div */
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.editor-full {
  margin: 0;
  width: 100vw;
  height: calc(100vh - 88px);
  min-height: 480px;
  background: #263238;
}

/* editor-full 전체 화면의 가이드/에디터/완성코드 페이지 */
.header-editor {
  background-color: #455964;
}


.editor-full .guide,
.editor-full .editor,
.editor-full .complete,
.editor-full .cp_embed_wrapper,
.editor-full .cp_embed_iframe {
  margin: 0 0 -3px 0;
  padding: 0;
  height: 100vh;
  min-height: 480px;
}

.editor-full .guide {
  background-color: white;
}

.editor-full .guide .header {
  padding: 8px;
  border-top: 1px solid #263238;
  background-color: #455964;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  font-size: 16px;
  color: white;
  font-weight: 500;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-full .guide .header .btn {
  margin: 0;
  width: 100%;
}

.editor-full .guide .body {
  padding: 16px 32px 16px 16px;
  height: calc(100vh - 52px);
  overflow-y: scroll;
}

.editor-full .guide .body .title {
  margin: 8px 0 24px 0;
}

@media (max-width: 991px) {
  .editor-full .guide,
  .editor-full .guide .body {
    height: auto;
    min-height: unset;
  }
}

@media (min-width: 1200px) and (max-width: 2000px) {
  .editor-full .guide {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .editor-full .editor,
  .editor-full .complete {
    flex: 0 0 40%;
    max-width: 40%;
  }
}

@media (min-width: 2000px)  {
  .editor-full .guide {
    flex: 0 0 16%;
    max-width: 16%;
  }

  .editor-full .editor,
  .editor-full .complete {
    flex: 0 0 42%;
    max-width: 42%;
  }
}
